.popup {
  position: relative;
  background-color: white;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 16px;
  padding: 48px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.popup-wrap {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(5, 0, 10, 0.2);
  width: 100%;
  height: 100vh;
  z-index: 6;
  display: grid;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.popup-wrap.open {
  visibility: visible;
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.form_btn {
  padding: 6px 12px;
  width: fit-content;
}

.form_textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 16px;
  border: 1px solid aqua;
  border-radius: 8px;
}
